{% extends "shoes4show/base.html" %}
{% load static %}

{% block body_block %}
	<div class="d-flex flex-column justify-content-center align-items-center text-center min-vh-100 px-3">
	    <h1 class="mb-3">Contact us</h1>
	    <p class="mb-1">For any and all queries, please contact the following email: lab5ashoes4show@gmail.com</p>
	    <p class="mb-5">We will aim to reply within 3-5 working days.</p>
	    <img src="{% static 'images/dog_working.png' %}" alt="Dog on the computer" >
         </div>
{% endblock %}

