{% extends "shoes4show/base.html" %}
{% load static %}

{% block body_block %}
<p><strong>{{ boldmessage }}</strong></p>

<div>
    {% if items %}
        <h2>Popular Shoes</h2>
        <div class="w-75 mx-auto">
            <div class="carousel-with-side-buttons">
            <button id="prevBtn" class="carousel-btn" aria-label="Previous">
                    <svg width="256" height="256" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <polyline points="15 18 9 12 15 6"></polyline>
                    </svg>
            </button>
            <div id="shoesDisplayCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for item_list in items %}
                    <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <div class="row g-3"> 
                        {% for item in item_list %}
                        <div class="col-12 col-sm-6 col-md-3">
                            <a href="{% url 'shoes4show:show_listing' item.slug %}">
                            <img src="{{ item.image.url }}" class="img-fluid shadow" alt="{{ item.name }}">
                            <p class="text-center mt-2 mb-0">{{ item.name }}</p>
                            </a>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button id="nextBtn" class="carousel-btn" aria-label="Next">    
                <svg width="256" height="256" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <polyline points="9 18 15 12 9 6"></polyline>
                    </svg>
                </button>
        </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
    // Initialize carousel instance
    const carouselElement = document.getElementById('shoesDisplayCarousel');
    const carousel = bootstrap.Carousel.getOrCreateInstance(carouselElement);

    // Connect custom buttons
    document.getElementById('prevBtn').addEventListener('click', () => carousel.prev());
    document.getElementById('nextBtn').addEventListener('click', () => carousel.next());
  </script>
    The most viewed shoe today is <a href="{% url 'shoes4show:show_listing' max_viewed_item.slug %}">{{ max_viewed_item.name }}</a> with {{ max_views }} views.
    {% else %}
        <strong>No shoes available.</strong>
    {% endif %}
</div>

{% endblock %}