{% extends 'shoes4show/base.html' %}
{% load static %}

<!-- BOOTSTRAP STYLESHEET FOR SCROLL CARDS + CSS -->
{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body_block %}
    <h1> Search results: </h1>
    {% if result_list %}
    {% if new_word %}
        <p>Your query: {{ old_word }}</p>
    {% endif %}
    {% if used_trigram%}
        <p>Did you mean {{ new_word }} ? </p>
    {% endif %}
    <ul>
        {% for listing in result_list %}

	<!-- BOOTSTRAP STYLING -->
	    <a href="{% url 'shoes4show:show_listing' listing.slug %}" class="text-decoration-none text-dark">
	        <div class="card listings_cards mb-3">
		    <div class="row no-gutters align-items-center">
		        <div class="col-md-2">
			    <img src="{{ listing.image.url }}" class="img-fluid h-100 w-100" style="object-fit: cover;">
		        </div>
			
		        <div class="col-md-10">
		            <div class="card-body listing_cards d-flex justify-content-between align-items-center">
			        <div class="flex-grow-1">
			            <p class="mb-0">{{ listing.name }}</p>
				</div>

			        <div class="me-4" style="min-width: 80px;">
				    <p class="mb-0">£{{ listing.price }}</p>
				</div>

				<div style="min-width: 60px; text-align: right;">
			            <p class="mb-0">ratings{{ listing.rating }}</p> 
				</div>

			    </div>
		        </div>
		    </div>
	          </div>
	     </a>
	      
        {% endfor %}
    </ul>
    {% else %}
        <div>
            <h1> No items found </h1>
        </div>
    {% endif %}
{% endblock %}
