{% extends 'shoes4show/base.html' %}
{% load static %}

{% block body_block %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
    {% if shoe %}
        <div class="listingpage-wrapper">

            <div class="productlisting-flex">
                <div class="productlisting-left">
                    <img src ="{{ shoe.image.url }}" alt=" {{ shoe.name }}" class="productlisting-image">
                    <p>{{ shoe.uploaded_by.username }}</p>
                </div>
                <div class="productlisting-right">
                    <p>Category: {{ shoe.get_category_display }}</p>
                    <p>{{ shoe.name }}</p>
                    <p>{{ shoe.description }}</p>
                    <p>Price: {{ shoe.price }}</p>
                    <!--  AVG RATINGS-->
                    <div class = "rating-summary">
                        <div class="star-display">
                            {% for i in "12345" %}
                                {% if forloop.counter <= average_rating %}
                                    <span class="star star-chosen">★</span>
                                {% else %}
                                    <span class="star">★</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <p class="count-reviews">
                            {{ count_reviews}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="listingpage-wrapper">
        <!-- REVIEWS DISPLAY -->
	    <p>Reviews:</p>
            {% if reviews %}
                <ul>
                    {% for review in reviews %}
                        <div class="review-box">
                            <div class="review-left">
                                {{review.user.username}} -
                                <!-- {{ review.rating }}-->
                                <div class="star-display">
                                    {% for i in "12345" %}
                                        {% if forloop.counter <= review.rating %}
                                            <span class="star star-chosen">★</span>
                                        {% else %}
                                            <span class="star">★</span>
                                        {% endif %}
                                    {% endfor %}
                                </div> 
                            </div>
                            <div class="review-right">
                                {{review.review_text}}
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No reviews yet.</p>
            {% endif %}
        </div>

        {% if user.is_authenticated %}
            <button id="open-review-modal" style="margin-top:20px;">Submit a Review</button>

            <div id="review-modal" style="
                display:none;
                position:fixed;
                top:0; left:0;
                width:100%; height:100%;
                background: rgba(0,0,0,0.5);
                justify-content: center;
                align-items: center;
                z-index:1000;">

                <div style="
                    background: #6a8567;
                    padding: 20px;
                    border-radius: 8px;
                    width:400px;">

                    <form method="POST" action="{% url 'shoes4show:add_review' shoe.slug %}">
                        {% csrf_token %}

                        <label>Rating</label><br>
                        <div id="ratingbystar">
                            <span class="star" data-value="1">★</span>
                            <span class="star" data-value="2">★</span>
                            <span class="star" data-value="3">★</span>
                            <span class="star" data-value="4">★</span>
                            <span class="star" data-value="5">★</span>
                        </div>
                        <!--Stores star value without user seeing and they cannot submit without clicking on stars-->
                        <input type="hidden" name="rating" id="star-value" required>
                        <br><br>

                        <label>Your Review:</label><br>
                        <textarea name="review_text" rows="4" cols="40" required></textarea><br><br>
                        <button type ="submit">Submit Review</button>
                        <button type="button" id="close-modal">Close</button>
                    </form>
                </div>
            </div>

            <script>
            document.addEventListener("DOMContentLoaded", function(){
                document.getElementById("open-review-modal").onclick = function(){
                    document.getElementById("review-modal").style.display = "flex";
                };
                document.getElementById("close-modal").onclick = function(){
                    document.getElementById("review-modal").style.display = "none";
                };
            });
            </script>

            <script>
            document.addEventListener("DOMContentLoaded", function(){
                const ratingValue = document.getElementById("star-value"); 
                //Getiing anything on page that is a star and is a click on
                const stars = document.querySelectorAll("#ratingbystar .star");
                let ratingNumber = 0;

                stars.forEach(star => {
                    star.addEventListener("click", function(){
                        ratingNumber = parseInt(this.dataset.value);
                        ratingValue.value = ratingNumber;
                        updateStars(ratingNumber);

                        //Sends rating to Django without needing to reload page
                        fetch("{% url 'shoes4show:add_rating' shoe.slug %}", {
                            method: "POST",
                            headers:{
                                "X-CSRFToken": "{{ csrf_token }}",
                                "Content-Type":"application/json"
                            },
                            body: JSON.stringify({ rating: ratingNumber})
                        })
                        .then(response => response.json())
                        .then(data => {
                            console.log("Rating saved:", data.rating);
                        })
                    })
                })
                //highlighting the stars dependent on number of stars user rated
                function updateStars(rating){
                    stars.forEach(star => {
                        star.classList.remove("star-chosen");
                        if(parseInt(star.dataset.value) <= rating){
                            star.classList.add("star-chosen");
                        }
                    })
                }

            });
            </script>

        {% else %}
            <p>You have to be logged in to leave a review!</p>
        {% endif %}

    {% else %}
        <p>Shoe not found - Please try again</p>
    {% endif %}
{% endblock %}